{% extends "base.html.twig" %}
{%  block body %}
    <h1 class="text-center"  id="categ_box">{{ category }}</h1>
    <div class="container" id="categories">
        <div class="row">
            {% for category in categories %}
                <form class="col-lg-4" action="{{ path('articles_category', {'id': category.id}) }}">
                    <button class="categ_btn btn btn-danger">{{ category.name }}</button>
                </form>
            {% endfor %}
        </div>
    </div>
    {% block article %}
    {% for article in articles %}
    <h1>{{ article.title }}</h1>
        <p><strong>{{ article.body }}</strong></p>
        <p>{{ article.date | date("d.m.Y")}}</p><br>
        <form action="{{ path('article_id', {'id': article.id}) }}">
            <button class="btn btn-danger">Покажи</button>
        </form>
        <p>-------------------------------------------------------------------------------------------------</p>
    {% endfor %}
    {% endblock %}
{% endblock %}