{%  extends "base.html.twig" %}
{%  block body %}
    {% for article in articles %}
        <h1>{{ article.title }}</h1>
        <h4>{{ article.body }}</h4>
        <p>Date: {{ article.date | date("d.m.Y")}}</p>
        <a href={{ path("article_id", {'id': article.id}) }}>show more</a>
        <p>--------------------------------------------------------------------------------------------</p>
    {% endfor %}
    <h1 style="text-align: center">Categories:</h1>
    {% for category in categories %}
        <a href="{{ path('articles_category', {'id': category.id}) }}"><h2>{{ category.name }}</h2></a>
    {% endfor %}
{% endblock %}