{%  extends "base.html.twig" %}
{%  block body %}
    {% for article in articles %}
        <h1>{{ article.title }}</h1>
        <h4>{{ article.body }}</h4>
        <p>Date: {{ article.date | date("d.m.Y")}}</p>
        <a href={{ path("article_id", {'id': article.id}) }}>show more</a>
        <p>--------------------------------------------------------------------------------------------</p>
    {% endfor %}
    <a href="#"><h1>Register</h1></a> <a href="#"><h1>Login</h1></a> <a href={{ path('create_article') }}><h1>Create Article</h1></a>
    <h1 style="text-align: center">Categories:</h1>
    {% for category in categories %}
        <h2>{{ category.name }}</h2>
    {% endfor %}
{% endblock %}