{% extends "base.html.twig" %}
{% block body %}
<h1> Author: {{ article.author }}</h1>
<h1>Title: {{ article.title }}</h1>
<h1>Category: {{ article.category.name }}</h1>
    <p><strong>ArticleBody: </strong><br>{{ article.body }}</p>
    <h1>Tags: </h1>
    {% if article.tags | length == 0 %}
        <p>There is no tags!</p>
    {% else %}
        {% for tag in article.tags %}
            <p> - {{ tag.name }}</p>
        {% endfor %}
    {% endif %}
<p><strong>Date: </strong>{{ article.date | date("d.m.Y") }}</p>
    <a href={{ path("delete_article", {'id': article.id}) }}>Delete</a><br>
    <a href={{ path('article_edit', {"id": article.id}) }}>Edit</a><br>
    <a href={{ path('articles_all') }}>Return</a>
{% endblock %}